# data & results
data/*
results/*
flu-results*
RIVM
*.pdf

.RData
.Rhistory
.vscode
.snakemake
.Rproj.user
.env
__pycache__

*.Rproj
LICENSE

log.out
R_packages*

# unused scripts from fluclades
scripts/unused